<TMPL_INCLUDE NAME="header.tmpl">
    <br/>
    <div class="page-header">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>Данные по персоналу</h1>
                <TMPL_IF NAME="DATA">
                    <TMPL_LOOP DATA>
                        <form action="../../cgi-bin/unit/editUnit.pl" method="POST">
                            <input name="id" hidden="true" value="<TMPL_VAR NAME=ID>"/>
                            <h5>Название
                                <br/>
                                <input class="form-control" type="text" name="name" value="<TMPL_VAR NAME=NAME>"
                                       placeholder="First name"/>
                            </h5>
                            <h5>Количество человек
                                <br/>
                                <input type="text" disabled="true" class="form-control" name="people-count"
                                       value="<TMPL_VAR NAME=PEOPLE_COUNT>"/>
                            </h5>
                            <h5>Месячный фонд
                                <br/>
                                <input type="number" class="form-control" name="monthly"
                                       value="<TMPL_VAR NAME=MONTHLY_FUND>"/>
                            </h5>
                            <h5>Годовой фонд
                                <br/>
                                <input type="number" class="form-control" name="yearly"
                                       value="<TMPL_VAR NAME=YEARLY_FUND>"/>
                            </h5>
                            <input type="submit" class="btn btn-primary glyphicon" value="EDIT"/>
                        </form>
                    </TMPL_LOOP>
                </TMPL_IF>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
        $('#units').addClass("active");
        });
    </script>

    <TMPL_INCLUDE NAME="footer.tmpl">