<TMPL_INCLUDE NAME="header.tmpl">
    <br>
        <div class="page-header">
            <div class="row">
                <div class="col-md-12"></div>
                <h1>Данные по отделам</h1>
                <TMPL_IF NAME="ROWS">
                    <table class="table">
                        <th>Имя</th>
                        <th>Количество персонала</th>
                        <th>Месячный доход</th>
                        <th>Годовой доход</th>

                        <th>Редактировать</th>
                        <th>Удалить</th>
                        <TMPL_LOOP ROWS>
                            <tr>
                                <td>
                                    <TMPL_VAR NAME= NAME>
                                </td>
                                <td>
                                    <TMPL_VAR NAME= PEOPLE_COUNT>
                                </td>
                                <td>
                                    <TMPL_VAR NAME= MONTHLY_FUND>
                                </td>
                                <td>
                                    <TMPL_VAR NAME= YEARLY_FUND>
                                </td>
                                <form action="../../cgi-bin/unit/showUnit.pl" method="GET">
                                    <input hidden="true" id="pass" name="id" value="<TMPL_VAR NAME=ID>"/>
                                    <td>
                                        <input type="submit" class="btn btn-primary" value="Перейти"/>
                                    </td>
                                </form>

                                <!--<form action="../../cgi-bin/unit/deleteUnit.pl" method="GET">-->
                                    <!--<input hidden="true" name="id" value="<TMPL_VAR NAME=ID>"/>-->
                                    <!--<td>-->
                                        <!--<button type="submit"-->
                                                <!--class="btn btn-danger glyphicon glyphicon-remove"></button>-->
                                    <!--</td>-->
                                <!--</form>-->
                                <td>
                                    <button class="btn btn-danger glyphicon glyphicon-remove" data-toggle="modal"
                                            data-target="#delete-unit-modal"></button>
                                </td>

                                <form action="../../cgi-bin/unit/deleteUnit.pl" method="POST">
                                    <div class="modal fade" id="delete-unit-modal" tabindex="-1" role="dialog" aria-labelledby="delete-unit"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="delete-unit">Удалить запись</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Вы действительно хотите удалить отдел? Все записи о персонале также будут удалены.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary"
                                                            data-dismiss="modal">Отмена</button>
                                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </tr>
                        </TMPL_LOOP>
                    </table>
                </TMPL_IF>
                <!--<hr/>-->
                <!-- Button trigger modal -->
                <button class="btn btn-primary btn-lg glyphicon glyphicon-ok" data-toggle="modal"
                        data-target="#add-unit-modal">
                    Добавить
                </button>

                <!-- Modal -->
                <div class="modal fade" id="add-unit-modal" tabindex="-1" role="dialog" aria-labelledby="addUnit"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <form action="../../cgi-bin/unit/addUnit.pl" method="POST">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="addUnit">Добавить отдел</h4>
                                </div>
                                <div class="modal-body">
                                    <input class="form-control" type="text" name="name" placeholder="Название"/>
                                    <br/>
                                    <input class="form-control" type="text" name="monthly" placeholder="Месячный доход"/>
                                    <br/>
                                    <input class="form-control" type="text" name="yearly" placeholder="Годовой доход"/>
                                    <br/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary glyphicon glyphicon-remove"
                                            data-dismiss="modal">Отмена</button>
                                    <button type="submit" class="btn btn-success glyphicon glyphicon-floppy-saved">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {
            $('#units').addClass("active");
            });
        </script>
        <!--<br/>-->
        <TMPL_INCLUDE NAME="footer.tmpl">