</div>
<div class="color-swatch gray-light" id="footer">
    <div class="container color-swatch gray-light">
        <p class="text-muted text-left"><i>Махалова Оля, 302-МАИ, 2014 год</i></p>
    </div>
</div>
</body>
</html>
