</div>
<div class="color-swatch gray-light" id="footer">
    <div class="container color-swatch gray-light">
        <p class="text-muted text-center">Анастасия В., 302-МАИ, 2014г.</p>
    </div>
</div>
</body>
</html>
