<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico" />

    <title>Городская театральная афиша</title>

    <link href="http://localhost/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">

    <script src="http://localhost/bootstrap/js/jquery.js"></script>
    <script src="http://localhost/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: pink; font-style: bold;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost/">Афиша города</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="theaters">
                    <a href="http://localhost/cgi-bin/theatre/getAllTheatre.pl">Театры</a>
                </li>
                <li id="spectacles">
                    <a href="http://localhost/cgi-bin/spectacle/getAllSpectacle.pl">Спектакли</a>
                </li>
                <li id="orders">
                    <a href="http://localhost/cgi-bin/order/getAllOrder.pl">Заказы</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Меню
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://localhost/cgi-bin/user/myOrders.pl">Мои заказы</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="http://localhost/cgi-bin/logout.pl">Выйти</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
<!--<div class="jumbotron">-->