</div>
<div class="color-swatch gray-light" id="footer">
    <div class="container color-swatch gray-light">
        <p class="text-muted text-right"><i>302-МАИ, Валерия К. 2014г.</i></p>
    </div>
</div>
</body>
</html>
