</div>
<div class="color-swatch gray-light" id="footer">
    <div class="container color-swatch gray-light">
        <p class="text-muted text-right"><i>Рита М., 2014</i></p>
    </div>
</div>
</body>
</html>
